@import 'base/reset.css';
@import 'utils/variables.less';
@import 'utils/mixins.less';
@import 'layout/header.less';
@import 'layout/banner.less';
@import 'layout/games.less';
@import 'layout/descriptionSlider.less';
@import 'layout/paymentSystems.less';
@import 'layout/footer.less';


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
/*End Fonts*/

body {
	background-color: @darkblue;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

