.info__slider {
	overflow: hidden;
	@media (max-width: 640px) {
		    margin: 0 auto;
    width: 252px;
        padding: 5%;
	}
	@media (min-width: 1900px) {
		padding: 4% 0;
	}
	.carousel {
		@media (min-width: 1900px) {
		height: 692px;
	}
	@media (max-width: 640px) {
		display: none;
	}
		.carousel--width {
			@media (min-width: 1900px) {
		width: 1491px;
	}
		}
		.slick-dots li.slick-active button:before{
			width: 9px;
			height: 9px;
			opacity: 1;
			border: 2px solid red;
			@media (min-width: 1900px) {
		width: 13px;
			height: 13px;
	}
		}
		width: 100%;
		div {
			padding: 3px;
		}
		.info__title {
			font-size: 25px;
			font-weight: 900;
			margin-bottom: 2.5%;
			@media (min-width: 1900px) {
		font-size: 34px;
	}
			.slider__link:hover {
				color: @hoverlink;
			}
		}
	}
	.carousel-mobile {
display: none;
text-align: center;
width: 258px;
.mobile-info__title {
font-size: 25px;
			font-weight: 900;
			margin-bottom: 2.5%;
}
.mobile-title {
font-size: 11px;
		font-weight: 100;
		margin-bottom: 0.5%;
}
.mobile-content {
	font-size: 11px;
		font-weight: 100;
		line-height: 16px;
		margin-bottom: 2%;
}
@media (max-width: 640px) {
		display: block;
		
	}
	}
	.title {
		font-size: 11px;
		font-weight: 100;
		margin-bottom: 0.5%;
		@media (min-width: 1900px) {
		font-size: 16px;
	}
	}
	.content {
		font-size: 11px;
		font-weight: 100;
		line-height: 16px;
		margin-bottom: 2%;
		@media (min-width: 1900px) {
		font-size: 16px;
		line-height: 19px;
	}
	}
}
.slick-dots li {
	width: 9px;
	height: 17px;
	@media (min-width: 1900px) {
		margin: 0 11px;
	}
	button {
		margin-right: 40px;
		width: 0px;
		height: 0px;
		&:before{
			opacity: 1;
			color: white;
			font-size: 0px;
			width: 11px;
			height: 11px;
			background-color: white;
			border-radius: 20px;
			@media (min-width: 1900px) {
		width: 15px;
			height: 15px;
	}
		}
		&:hover:before{
			border: 2px solid red;
			border-radius: 20px;
		}
	}
}