.header {
	background: url(../img/bg.png) no-repeat;
	background-size: contain;
	padding: 1.6% 0;
	.wrapper {
		.header__logo {
			width: 17%;
			.headerlogo__img {
				max-width: 100%;
			}
		}
		.header__menu {
			width: 36%;
			height: 91px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			.header__buttons {
				width: 68%;
				display: flex;
				.btn-login {

					margin: 0 8% 0 6%;
					.login {
						.link__decoration;
						.btn;
						padding: 9px 24px;
					}
				}
				.btn__registration {
					.registration {
						.link__decoration;
						.btn;
						padding: 9px 24px;
					}
				}
			}
			
		}
	}
	.header--flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}